#a{
    background-color: #4a93ce;
}
#b{
    background-color:red;
}
#c{
    background-color: green;
}
#d{
    background-color: blue;
}
#e{
    background-color: yellow;
}
#f{
    background-color: purple;
}
#g{
    background-color: orange ;
}
#h{
    background-color: pink ;
}